# local package
-e .

./ebas_io-3.6.1-py3-none-any.whl

# external requirements
click~=8.0.1
Sphinx
coverage
python-dotenv>=0.5.1
pyyaml==5.4.1

matplotlib~=3.3.4
numpy~=1.19.5
pandas~=1.1.5
src~=0.1.0
joblib~=1.0.1
setuptools==58.1.0
scipy==1.5.4
